@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
    --fontFamily: 'Inter';
    --containerSize: 60%;
    --systemBorderColor: 199, 44%, 93%;

    @media (min-width: 768px) {
        --containerSize: 90%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    inline-size: 100vw;
    block-size: 100vh;
    overflow: hidden;

    body {
        block-size: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FAFCFD;

        > header {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsla(var(--systemBorderColor), 1.0);
            background-color: hsla(var(--whiteColor), 1.0);

            section {
                margin-inline: auto;
                padding-block: 25px;
                padding-inline: 25px;
                inline-size: var(--containerSize);
            }
        }

        > main {
            flex-grow: 1;

            margin-inline: auto;
            padding-block: 25px;
            padding-inline: 25px;
            inline-size: var(--containerSize);
            display: flex;
            flex-direction: row;

            > section {
                inline-size: 85%;
                block-size: 100%;
                display: grid;
                grid-template-rows: auto 1fr auto;
                grid-template-columns: 1fr;
                grid-template-areas: "header" "section" "footer";

                > header {
                    grid-area: header;

                    padding-block: 10px;
                    padding-inline: 25px;
                }

                > section {
                    grid-area: section;

                    padding-block: 10px;
                    padding-inline: 25px;
                }

                > footer {
                    grid-area: footer;

                    padding-block: 10px;
                    padding-inline: 25px;
                }
            }

            > aside {
                min-inline-size: 200px;
                inline-size: 15%;
                display: flex;
                flex-direction: column;

                > section {
                    flex-grow: 1;

                    padding-block: 10px;
                    padding-inline: 15px;
                }

                > footer {
                    padding-block: 10px;
                    padding-inline: 25px;
                    border-top-width: 1px;
                    border-top-style: solid;
                    border-top-color: hsla(var(--systemBorderColor), 1.0);
                }
            }
        }
    }
}

.state\:active {
    background-color: hsla(var(--accentColor), 0.1) !important;

    p {
        color: hsla(var(--blackColor), 1.0) !important;
    }

    svg {
        fill: hsla(var(--accentColor), 1.0) !important;
    }
}
