@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
    --fontFamily: 'Inter';
    --containerSize: 100%;
    --systemBorderColor: 199, 44%, 93%;
    --smallSpacing: 1rem;
    --mediumSpacing: 1.5rem;
    --largeSpacing: 2.25rem;
    --extraLargeSpacing: 3.5rem;

    @media (min-width: 80rem) {
        --containerSize: 80%;
    }

    @media (min-width: 96rem) {
        --containerSize: 60%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    inline-size: 100vw;
    block-size: 100vh;

    @media(min-width: 64rem) {
        overflow: hidden;
    }

    body {
        block-size: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FAFCFD;

        > header {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsla(var(--systemBorderColor), 1.0);
            background-color: hsla(var(--whiteColor), 1.0);

            section {
                margin-inline: auto;
                padding-block: 25px;
                padding-inline: 25px;
                inline-size: var(--containerSize);
            }
        }

        > main {
            flex-grow: 1;

            margin-inline: auto;
            padding-block: 25px;
            padding-inline: 25px;
            inline-size: var(--containerSize);
            display: flex;
            flex-direction: column;

            @media (min-width: 64rem) {
                flex-direction: row;
                height: calc(100% - 75px);
            }

            > section {
                inline-size: 100%;
                display: flex;
                flex-direction: column;

                @media (min-width: 64rem) {
                    inline-size: 85%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }

                > header {
                    padding-block: 10px;
                    padding-inline: 25px;

                }

                > section {
                    padding-block: 10px;
                    padding-inline: 25px;
                }

                > footer {
                    padding-block: 10px;
                    padding-inline: 25px;
                }
            }

            > aside {
                min-inline-size: 200px;
                inline-size: 100%;
                display: flex;
                flex-direction: column;

                @media (min-width: 64rem) {
                    inline-size: 15%;
                }

                > section {
                    flex-grow: 1;

                    padding-block: 10px;
                    padding-inline: 15px;

                    > .navigation {
                        overflow-x: scroll;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        > .list {
                            flex-direction: row;

                            @media(min-width: 64rem) {
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }
}

.state\:active {
    background-color: hsla(var(--accentColor), 0.1) !important;

    p {
        color: hsla(var(--blackColor), 1.0) !important;
    }

    svg {
        fill: hsla(var(--accentColor), 1.0) !important;
    }
}
