@import url('https://fonts.googleapis.com/css?family=Inter:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    
    color: #FFFFFF
}

html {
    
    min-height: 100vh;
    
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 2.2em;
    color: #FFFFFF
}

body {
    
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    
    background-color: #0C0C0F
}

body > header {
    
    font-size: 1.0rem;
    color: #9CA7B2;
    
    background-color: #0C0C0F;
    border-bottom: 1px solid #202024
}

body > main {
    
    display: flex;
    flex-direction: column;
    
    flex-grow: 1
}

body > footer {
    
    font-size: 1.0rem;
    color: #9CA7B2;
    
    background-color: #0C0C0F;
    border-top: 1px solid #202024
}

main > header {
}

main > section {
    
    display: flex;
    flex-direction: column;
    
    flex-grow: 1
}

main > footer {
}

#nav1, #nav2, #nav3 {
    
    display: none;
}
