@import url('https://fonts.googleapis.com/css?family=Inter:300,400,700,900');

/*
 override
 */

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
}

/*
 page
 */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

/*
 page header
 */

body > header {
    height: 10%;
    padding: 10px 25px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5F0F5;
}

/*
 page content
 */

body > main {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}


body > main > header {
    padding: 10px 25px;
}

body > main > section {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body > main > footer {
    padding: 10px 25px;
}

/*
 page footer
 */

body > footer {
    padding: 10px 25px;
    color: #9CA7B2;
    background-color: #FAFCFD;
    border-top: 1px solid #E5F0F5;
}

#nav1, #nav2, #nav3 {
    display: none;
}
