.safari-frame {
    inline-size: 200px;
    block-size: 150px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: #9F9F9F;
    border-radius: 5px;

    .safari-navigation {
        inline-size: 192px;
        block-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .safari-button {
            inline-size: 6px;
            block-size: 6px;
            display: inline-block;
            border-radius: 50%;

            &.red {
                background-color: #FF5D5A;
            }

            &.yellow {
                background-color: #F5C350;
            }

            &.green {
                background-color: #65CD57;
            }
        }
    }

    .safari-window {
        position: relative;
        inline-size: 192px;
        block-size: 130px;
        display: block;
        background-color: #FFFFFF;

        .window-tabbar {
            inline-size: 100%;
            block-size: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #7A7A7A;

            .tab {
                padding-inline: 5px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Arial, serif;
                font-size: 3pt;
                color: #FFFFFF;

                > svg {
                    display: inline-block;
                    inline-size: 5px;
                    block-size: 5px
                }

                &.active {
                    background-color: #9F9F9F;
                }
            }
        }

        .loadingbar {
            inline-size: 100%;
            block-size: 2px;
            background-image: linear-gradient(to right, #4098D7 50%, white 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .5s ease-out;
        }

        .terminal-window {
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 1px 2px;
            display: block;
            inline-size: 100px;
            block-size: 50px;
            background-color: #000000;
            border: 1px solid #9F9F9F;
            border-radius: 2px;
            font-size: 3px;
            color: white;
            text-align: left;

            .terminal-navigation {
                display: flex;
                gap: 5px;

                .terminal-button {
                    inline-size: 3px;
                    block-size: 3px;
                    display: inline-block;
                    border-radius: 50%;

                    &.red {
                        background-color: #FF5D5A;
                    }

                    &.yellow {
                        background-color: #F5C350;
                    }

                    &.green {
                        background-color: #65CD57;
                    }
                }
            }
        }
    }
}

div:has(.thumbnail):hover > .thumbnail .loadingbar {
    background-position: left bottom;
}

.mac-frame {
    
    position: relative;
    padding: 5px;
    inline-size: 200px;
    block-size: 150px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 5px;
    background-image: linear-gradient(
      45deg,
      hsl(240deg 100% 20%) 0%,
      hsl(289deg 100% 21%) 11%,
      hsl(315deg 100% 27%) 22%,
      hsl(329deg 100% 36%) 33%,
      hsl(337deg 100% 43%) 44%,
      hsl(357deg 91% 59%) 56%,
      hsl(17deg 100% 59%) 67%,
      hsl(34deg 100% 53%) 78%,
      hsl(45deg 100% 50%) 89%,
      hsl(55deg 100% 50%) 100%
    );

    .window {
        position: absolute;
        inset: 15px;
        z-index: 1;
        inline-size: 100px;
        block-size: 80px;
        display: block;
        border-radius: 5px;
        background-color: hsla(0, 100%, 0%, 0.8);
        visibility: hidden;
    }

    .dockbar {
        padding-block: 2px;
        padding-inline: 5px;
        inline-size: fit-content;
        block-size: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: hsla(0, 100%, 0%, 0.2);
        border-radius: 5px;

        .app {
            inline-size: 11px;
            block-size: 11px;
            display: grid;
            place-items: center;
            place-content: center;
            border-radius: 2px;
            transition: visibility 250ms;

            > svg {
                display: inline-block;
                inline-size: 8px;
                block-size: 8px;
                filter: drop-shadow(0 1px 1px hsla(0, 100%, 0%, 0.3));
            }

            &.finder {
                background: linear-gradient(90deg, #62C5F5 50%, #FFFFFF 50%);
            }

            &.message {
                background-color: #34CC2A;
            }

            &.facetime {
                background-color: #34CC2A;
            }

            &.discord {
                background-color: #5C5CD4;
            }

            &.safari {
                background-color: #FFFFFF;
            }

            &.mail {
                position: relative;
                background: #1AADFF;
            }

            &.mail:after {
                content: '3';
                position: absolute;
                top: -4px;
                right: -4px;
                z-index: 1;
                inline-size: 8px;
                block-size: 8px;
                display: grid;
                place-items: center;
                border-radius: 50%;
                background-color: #FF4D4D;
                font-size: 4px;
                color: white;
            }

            &.playground {
                background-color: #FFFFFF;
            }

            &.music {
                background-color: #FF5365;
            }

            &.github {
                background-color: #000000;
            }

            &.settings {
                background-color: #CECED0;
            }
        }
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-5px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

div:has(.thumbnail):hover > .thumbnail .app:nth-child(7) {
    animation: bounce 2s ease infinite;
}

.mobile-frame {
    position: relative;
    inline-size: 200px;
    block-size: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #000000;
    border-radius: 5px;

    .mobile-apple {
        inline-size: 25px;
        block-size: 25px;
        display: block;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/><path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/></svg>');
        background-repeat: no-repeat;
    }

    .mobile-progress {
        inline-size: 40px;
        block-size: 2px;
        display: block;
        background-image: linear-gradient(to left, gray 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 1s ease-out;
        border-radius: 5px;
    }
}

div:has(.thumbnail):hover > .thumbnail .mobile-progress {
    background-position: left bottom;
}
