.feed {
    inline-size: 100%;
    column-count: 1;
    column-gap: 2rem;
    column-fill: balance;
    
    @media (min-width: 768px) {
        column-count: 2;
    }

    @media (min-width: 1024px) {
        column-count: 3;
    }

    .article {
        display: block;
        margin-bottom: 3rem;
    }
}

